{
  "jsc": {
    "target": "esnext",
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "decorators": true
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}
